/* Universal Selector: Set the box-sizing to border-box, making the padding and border included in the width and height of a box.
   Set all padding and margins to zero. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header element: Set the border, color, background image and center the text horizontally. */
header {
    border: solid;
    background-image: linear-gradient(to right, rgb(52,98,187), rgb(32,10,76));    
    color: white; 
    text-align: center;
}

/* Main element: Set the min-height, width percentage and position it relative so the Search Block will find it as the relative parent. */
main{
    min-height: 850px;
    width: 100%;
    position:relative; 
    top: 0; 
    left: 0;    
    
}

/* search_space class: Set the display to inline-block and width of 20% for section that will take up space on the left side of the main */
/* section. */
.search_space{
    display: inline-block;
    width: 20%;
}

/* search_block class: Set the search block section to use flexbox options.  Set the min-height and width values. */
/* Position this section as absolute so it will find the main section as it relative parent. */
.search_block{
    display: inline-flex; 
    flex-direction: column; 
    align-content: flex-start;
    flex-wrap: nowrap;
    width: 20%;
    min-height: 845px;
    position: absolute; 
    top: 0; 
    left: 0;     
}

/* city_label class: Indent the city label by 15 pixels. */
.city_label{
    margin-left: 15px;
}

/* city_input class: Add space to the left and right side of the search text input control. */
.city_input{
    margin-left: 10px;
    margin-right: 10px;
}

/* search_btn class: Set the background color, text color, margin values.  Set the border value to none. */
.search_btn{
    background-color: rgb(80, 152, 230);
    color: white;
    margin: 25px 10px 10px 10px;
    border: none;
}

/* search button hover: Changed the opacity to 0.5 so user sees effect when the user hovers over a button. */
.search_btn:hover{
    opacity: 0.5; 
}



/* right_panel class: Set the min-height value, make the right panel section and inline block and set the width to 75% */
.right_panel{
    min-height: 845px; 
    display: inline-block; 
    width: 75%    
}

/* location_block class: Use flexbox options.  Create a border.  Set the min-height value and add space on the left side. */
.location_block{
    display: inline-block; 
    border: 2px solid black;
    min-height: 500px;
    margin-left: 5px;
    width: 75%;
    text-align: center;
}

